# Ignorar archivos de entorno
.env
.env.development
.env.local

# Ignorar dependencias de Node.js
node_modules/
package-lock.json
package.json
# Ignorar archivos generados
dist/

# Ignorar archivos de logs
*.log

# Ignorar archivos de configuración de editores
.vscode/
.idea/